header {
    background-color: #1c1d1c;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

.logo-position {
    margin: 15px 0 15px 100px;
}

.logo-position img {
    transition: 0.5s;
    height: 100px;
    width: 100px;
}

.logo-position img:hover {
    transform: scale(1.05);

}

.double-border-button {
    max-height: 60px;
    line-height: 30px;
    width: 122px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 35px 30px 35px 0;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f9a81b;
    color: #f9a81b;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
}

.double-border-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.double-border-button:hover:after {
    border-color: #f9a81b;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

.user_head {
    position: absolute;
    height: 60px;
    width: 100px;
    margin: 0;
    right: 0;
    left: calc(100% - 314px);
    top: 35px;
    cursor: pointer;
    color: #f9a81b;
    text-align: center;
    line-height: 54px;
    visibility: hidden;
}

.visable {
    visibility: visible;
}

