.container_come-in {
    width: 445px;
    margin: 0 auto 0 auto;
}
.formWrapper h2 {
    color: #eee;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.control_btn .form_button_come_in {
    height: 32px;
    width: 158px;
    border: 1px none white;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}
.control_btn .form_button_come_in:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
}
.control_btn .registration {
    height: 32px;
    width: 158px;
    border: 1px none white;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
    border-radius: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}
.control_btn .registration:hover {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}
.errReg{
    color: red;
}
