.control_btn .clear-newFilm {
    height: 32px;
    width: 158px;
    border: 1px none white;
    cursor: pointer;
    position: relative;
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
    border-radius: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}
.control_btn .clear-newFilm:hover {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}
.marg20px{
    margin: 20px 0 0 0;
}
.addGenres {
    margin: 20px 0 0 0;
    height: 100px;
    width: 445px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 4px 17px 10px 10px;
}
